build /*
*.o
*.DS_Store
*.a
*.o
build/arrays.o
report.txt
class
output/hi_cs2_background.dat
output/hi_cs2_parameters.ini
output/hi_cs2_perturbations_k0_s.dat
output/hi_cs2_unused_parameters
output/hi_cs2_z10_pk.dat
output/hi_cs2_z10_tk.dat
output/hi_cs2_z11_pk.dat
output/hi_cs2_z11_tk.dat
output/hi_cs2_z12_pk.dat
output/hi_cs2_z12_tk.dat
output/hi_cs2_z13_pk.dat
output/hi_cs2_z13_tk.dat
output/hi_cs2_z14_pk.dat
output/hi_cs2_z14_tk.dat
output/hi_cs2_z15_pk.dat
output/hi_cs2_z15_tk.dat
output/hi_cs2_z16_pk.dat
output/hi_cs2_z16_tk.dat
output/hi_cs2_z17_pk.dat
output/hi_cs2_z17_tk.dat
output/hi_cs2_z18_pk.dat
output/hi_cs2_z18_tk.dat
output/hi_cs2_z19_pk.dat
output/hi_cs2_z19_tk.dat
output/hi_cs2_z1_pk.dat
output/hi_cs2_z1_tk.dat
output/hi_cs2_z20_pk.dat
output/hi_cs2_z20_tk.dat
output/hi_cs2_z2_pk.dat
output/hi_cs2_z2_tk.dat
output/hi_cs2_z3_pk.dat
output/hi_cs2_z3_tk.dat
output/hi_cs2_z4_pk.dat
output/hi_cs2_z4_tk.dat
output/hi_cs2_z5_pk.dat
output/hi_cs2_z5_tk.dat
output/hi_cs2_z6_pk.dat
output/hi_cs2_z6_tk.dat
output/hi_cs2_z7_pk.dat
output/hi_cs2_z7_tk.dat
output/hi_cs2_z8_pk.dat
output/hi_cs2_z8_tk.dat
output/hi_cs2_z9_pk.dat
output/hi_cs2_z9_tk.dat
python/build/lib.macosx-10.15-x86_64-3.9/classy.cpython-39-darwin.so
libclass.a
build/transfer.o
build/spectra.o
build/primordial.o
build/perturbations.o
build/output.o
build/nonlinear.o
build/lensing.o
build/input.o
build/class.o
*.o
python/build/lib.macosx-10.15-x86_64-3.9/classy.cpython-39-darwin.so
*.o
*.o
libclass.a
notebooks/.ipynb_checkpoints/test-checkpoint.ipynb
notebooks/test.ipynb
python/build/lib.macosx-11-x86_64-3.9/classy.cpython-39-darwin.so
python/build/lib.macosx-10.15-x86_64-3.9/classy.cpython-39-darwin.so
libclass.a
explanatory.ini
build/transfer.o
build/thermodynamics.o
build/spectra.o
build/sparse.o
build/rootfinder.o
build/quadrature.o
build/primordial.o
build/perturbations.o
build/parser.o
build/output.o
build/nonlinear.o
build/lensing.o
build/input.o
build/hyrectools.o
build/hyperspherical.o
build/hydrogen.o
build/history.o
build/helium.o
build/growTable.o
build/evolver_rkck.o
build/evolver_ndf15.o
build/dei_rkck.o
build/common.o
build/class.o
build/background.o
build/arrays.o
libclass.a
include/common.h
doc/.DS_Store
build/transfer.o
build/spectra.o
build/primordial.o
build/perturbations.o
build/output.o
build/nonlinear.o
build/lensing.o
build/input.o
build/class.o
.DS_Store
